{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner" role="listbox">
      <div class="item active">
         <a href="#"><img class="first-slide" src="/static/assets/images/ba.jpg" alt="First slide"></a>
      </div>
      <div class="item">
         <a href="care.html"><img class="second-slide " src="/static/assets/images/ba1.jpg" alt="Second slide"></a>
      </div>
      <div class="item">
         <a href="hold.html"><img class="third-slide " src="/static/assets/images/ba2.jpg" alt="Third slide"></a>
      </div>
   </div>
</div>
<!--content-->
<div class="content-top offer-w3agile">
   <div class="container ">
      <div class="spec ">
         <h3>Mulai belanja di sini</h3>
         <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
         </div>
      </div>
      <div class=" con-w3l wthree-of">
         <div class="col-md-3 pro-1">
            <div class="col-m">
               <a href="#" data-toggle="modal" data-target="#myModal{{objects.id}}" class="offer-img">
                  <img src="{% if objects.photo1 %}{% thumbnail objects.photo1 320x320 crop %}{% endif %}" class="img-responsive" alt="">
                  <div class="offer">
                     <p><span>Diskon</span></p>
                  </div>
               </a>
               <div class="mid-1">
                  <div class="women">
                     <h6><a {% for x in objects %} href="{% url 'detail' x.slug %} {% endfor %}">{{objects.name}}</a> <br>({{objects.weight}} kg)</h6>
                  </div>
                  <div class="mid-2">
                     <p style="font-size: 18px"><label>Rp. {{objects.pricemarket}}</label><span style="font-size: 18px" class="item_price">Rp. {{objects.price}}</span></p>
                     <div class="block">
                        <div class="starbox small ghosting"> </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
                  <div class="add">
                     <a type="button" {% for x in objects %} href="{% url 'detail' x.slug %} {% endfor %}" class="btn btn-danger my-cart-btn my-cart-b ">Beli Sekarang</a>
                  </div>
               </div>
            </div>
            <!-- product -->
            <!--<div class="modal fade" id="myModal{{x.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content modal-info">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
                     </div>
                     <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                           <div class="item">
                              <img src="{% if x.photo1 %}{% thumbnail x.photo1 320x320 crop %}{% endif %}" class="img-responsive" alt="">
                           </div>
                        </div>
                        <div class="col-md-7  ">
                           <h3>{{x.name}} <br>({{x.weight}} kg)</h3>
                           <p class="in-para"> {{x.shortdesc}}</p>
                           <div class="price_single">
                              <span class="reducedfrom "><del>Rp. {{x.pricemarket}}</del> Rp. {{x.price}}</span>
                              <div class="clearfix"></div>
                           </div>
                           <h4 class="quick">Deskripsi</h4>
                           <p class="quick_desc">{{x.description}}</p>
                           <div class="btn-group">
                              <button type="button" class="btn btn-danger my-cart-btn my-cart-btn1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Beli <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                 <li><a href="{% autoescape off %}{{x.waurl}}{% endautoescape %}">Melalui Whatsup</a></li>
                                 <li><a href="{{x.toped}}">Melalui Tokopedia</a></li>
                                 <li><a href="{{x.bukalapak}}">Melalui Bukalapak</a></li>
                                 <li><a href="{% autoescape off %}{{x.smstext}}{% endautoescape %}">Melalui SMS</a></li>
                              </ul>
                           </div>

                        </div>
                        <div class="clearfix"> </div>
                     </div>
                  </div>
               </div>
            </div>-->
         </div>
      </div>
   </div>
</div>
<!--content-->
<div class="content-mid">
   <div class="container">
      <div class="col-md-4 m-w3ls">
         <div class="col-md1 ">
            <a href="kitchen.html">
               <img src="/static/assets/images/co1.jpg" class="img-responsive img" alt="">
               <div class="big-sa">
                  <h6>New Collections</h6>
                  <h3>Season<span>ing </span></h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
               </div>
            </a>
         </div>
      </div>
      <div class="col-md-4 m-w3ls1">
         <div class="col-md ">
            <a href="hold.html">
               <img src="/static/assets/images/co.jpg" class="img-responsive img" alt="">
               <div class="big-sale">
                  <div class="big-sale1">
                     <h3>Big <span>Sale</span></h3>
                     <p>It is a long established fact that a reader </p>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <div class="col-md-4 m-w3ls">
         <div class="col-md2 ">
            <a href="kitchen.html">
               <img src="/static/assets/images/co2.jpg" class="img-responsive img1" alt="">
               <div class="big-sale2">
                  <h3>Cooking <span>Oil</span></h3>
                  <p>It is a long established fact that a reader </p>
               </div>
            </a>
         </div>
         <div class="col-md3 ">
            <a href="hold.html">
               <img src="/static/assets/images/co3.jpg" class="img-responsive img1" alt="">
               <div class="big-sale3">
                  <h3>Vegeta<span>bles</span></h3>
                  <p>It is a long established fact that a reader </p>
               </div>
            </a>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
</div>
<!--content-->
<!-- faqs -->
<div class="faq-w3 main-grid-border">
   <div class="container">
      <div class="spec ">
         <h3>Faqs</h3>
         <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
         </div>
      </div>
      <div class="panel-group" id="accordion">
         <!-- First Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                  <span>1.</span> It is a long established fact that a reader will be distracted ?
               </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. .</p>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
               </div>
            </div>
         </div>
         <!-- Second Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse"  data-target="#collapseTwo">
                  <span>2.</span> Lorem Ipsum is simply dummy text of the printing ?
               </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. </p>
               </div>
            </div>
         </div>
         <!-- Third Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseThree">
                  <span>3.</span> Sed ut perspiciatis unde omnis iste natus error sit ?
               </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
               </div>
            </div>
         </div>
         <!-- Fourth Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFour">
                  <span>4.</span> At vero eos et accusamus et iusto odio dignissimos ?
               </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                  <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
               </div>
            </div>
         </div>
         <!-- Fifth Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFive">
                  <span>5.</span> On the other hand, we denounce with ?
               </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
               </div>
            </div>
         </div>
         <!-- Sixth Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSix">
                  <span>6.</span>Lorem ipsum dolor sit amet, consectetur ?
               </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. </p>
               </div>
            </div>
         </div>
         <!-- Seventh Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSeven">
                  <span>7.</span> There are many variations of passages ?
               </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</p>
               </div>
            </div>
         </div>
         <!-- Eight Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseEight">
                  <span>8.</span> It is a long established fact that a reader ?
               </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
               </div>
            </div>
         </div>
         <!-- Ninth Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseNine">
                  <span>9.</span>The standard chunk of Lorem Ipsum ?
               </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</p>
               </div>
            </div>
         </div>
         <!-- Tenth Panel -->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTen">
                  <span>10.</span> Nor again is there anyone who loves or pursues ? 
               </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
               <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  </p>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- // Terms of use -->
{% endblock %}